@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.ant-menu-title-content{
    color: #ffffff;
}

.logo{
    color: white;
    line-height: 2.0;
}

.CommentsIntro{
    margin-left: 70px;
    margin-right: 70px;
}

.CommentsIntro h1{
    color: black;
    margin-top: 40px;
}

.CommentsIntro h2{
    color: black;
    font-size: 27px;
    font-weight: bolder;
}


.CommentsIntro p{
    color: black;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.CommentsDetails{
    margin-right: 500px;
    font-size: 20px;
}

.CommentsList{
    margin-top: 40px;
}

.ant-divider-inner-text{
    font-size: 27px;
    font-weight: bolder;



}