.pressoSlogan{
    height: 247px;
    width: 247px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pressoSlogan h1 {
    margin-right: 20px; 
  }