.coffee-main{
    position: relative;
    background-color: aqua;
}

.ant-menu-title-content{
    color: #ffffff;
}

.logo{
    color: white;
    line-height: 2.0;
}

.icon-main{
    line-height: 5.0;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-flex {
    display:block;
}

.CoffeeDescrip{
    font-size: 16px;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-btn-primary {
    background: black;
}

.svg-inline--fa {
    height: 2em;
    padding-right: 5px;
}

.coffeeMid{
    position: relative;
}